
# Don't allow access to indexes
Options -Indexes

# remove access to specific php files
<Files config.php>
    order allow,deny
    deny from all
</Files>
<Files global_functions.php>
    order allow,deny
    deny from all
</Files>

# remove access to config/txt/description files
<FilesMatch "\.(md|txt|example|csv|xml)$">
    order allow,deny
    deny from all
</FilesMatch>

# Rules
# QSA: Query String Appen (keep the arguments)
# L  : Last rule that this specific condition will match
# NC : Non-case sensitive

# In case page not found, redirect to a bad request
ErrorDocument 404 http://localhost/custom-mvc-framework/error404

# Turn Rewrite Engine On
RewriteEngine On

# Redirect api
RewriteRule api/([0-9a-zA-Z_]+) ?rt=3&rn=$1 [NC,L,QSA]

# if request is an unknown directory/file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirect pages and other incorrect URLs
RewriteRule ([0-9a-zA-Z_]+) ?rn=$1 [QSA,NC,L]
